header {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding: var(--size-20);
    background-color: var(--contrast-1);
    height: 516px;
}

main {
    z-index: 200;
    background-color: var(--white);
    width: 100%;
}

main section {
    margin-bottom: var(--size-50);
}

input {
    height: var(--size-50);
}

select {
    height: var(--size-50);
}

.header-logo {
    width: var(--size-150); 
}

nav {
    display: flex;
    flex-direction: row;
    gap: var(--size-10);
    float: right;
    z-index: 200;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--size-20);
}

.btn {
    display: flex;
    border: 1px solid transparent;
    border-radius: 50px;
    background-color: var(--blue);
    padding: var(--size-10);
    width: var(--size-100);
    text-align: center;
    justify-content: center;
}

.btn a {
    color: var(--white);
}

.btn-primary {
    display: flex;
    border: 1px solid transparent;
    border-radius: 50px;
    background-color: var(--blue);
    padding: var(--size-10);
    width: var(--size-100);
    text-align: center;
    justify-content: space-between;
}

.btn-primary a {
    color: var(--white);
    font-size: var(--size-10);
}
.btn-primary .fa-sold a {
    font-size: var(--size-8);
}

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero-text {
    max-width: var(--size-300);
}

.hero-text h1 {
    line-height: 1.2;
    font-weight: 500;
}

.hero-btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--size-30);

}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(5, 75px);
    grid-template-rows:  repeat(4, 75px);
    z-index: 200;
}

#googleA {
    grid-row: 4;
    grid-column: 3;
}

#asana { 
    grid-row: 1;
    grid-column: 5;
}

#atlassian { 
    grid-row: 1;
    grid-column: 3;
}

#calendar { 
    grid-row: 4;
    grid-column: 5;
}

#google { 
    grid-row: 1;
    grid-column: 2;
}
#paypal { 
    grid-row: 3;
    grid-column: 2;
}
#weave { 
    grid-row: 3;
    grid-column: 4;
}

.icon-grid-cell {
    width: var(--size-50);
    height: var(--size-50);
    background-color: var(--white);
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: var(--size-10);
}

.icon-grid-cell img {
    width: var(--size-50);
}

.key-benefits {
    padding: var(--size-20);
}

.key-benefits p {
    text-align: center;
    margin-bottom: var(--size-30);
}

.key-benefits-cards {
    display: flex;
    flex-direction: row;
    gap: var(--size-40);
}

.card {
    display: flex;
    flex-direction: column;
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    gap: var(--size-10);
    padding: var(--size-30);
}

.card img {
    width: var(--size-50);
}

.card p {
    text-align: left;
    font-size: var(--size-14);
}

.software-container {
    background-color: var(--contrast-1);
    display: flex;
    flex-direction: row;
    height: 470px;
    align-items: center;
}

.software-container .hero-btn-container {
    width: 100%;
}

.software-thumbnail {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.why-front-container {
    text-align: center;
} 

.hero-text p {
    text-align: left;
}

.hero-text h2 {
    text-align: left;
}

.bubbles-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: var(--size-10);
    margin-top: var(--size-50);
}

.bubble-labels-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.bubble {
    width: var(--size-50);
    height: var(--size-50);
    background-color: var(--font-color-light);
    border-radius: 100%;
    display: flex;
    align-items: center;
}

.bubble-inner {
    width: var(--size-10);
    height: var(--size-10);
    background-color: var(--font-color-base);
    border-radius: 100%;
    margin: 0 auto;
}

.line {
    background-color: var(--font-color-base);
    height: 1px;
    width: 70%;
    margin-top: 25px
}

.video-container {
    width: 100%;
}

.video-thumbnail {
    background-image: url("../_assetts/banners/banner_two.jpg");
    height: 421px; 
    display: flex;
    align-items: center;
}

.play-video {
    display: block;
    margin: 0px auto;
    color: var(--white);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 100%;
    background-repeat: no-repeat;
}

.hubspot-profile {
    display: flex;
    gap: var(--size-50);
    margin-bottom: var(--size-50);
}

.profile-photo {
    padding: 0 0 var(--size-50) var(--size-10);
    background-image: url("../_assetts/abstract/dots.svg");

}

.profile-text {
    font-size: 22px;
    padding-top: var(--size-100);
}

.profile-text p {
    text-align: left;
    margin-bottom: var(--size-20);
}

.profile-text img {
    width: var(--size-100);
}

.profile-name h3{
    margin: 0;
}

.why-front h2 {
    margin-bottom: var(--size-20);
}

.worlds-best h2 {
    margin-bottom: var(--size-100);
}

.worlds-best-logos {
    display: flex;
    gap: var(--size-100);
}

.pricing-cards-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin-top: var(--size-50);

}

.pricing-main-card {
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    padding: 68px 40px;
}

.pricing-main-card .btn-primary {
    margin-bottom: var(--size-20);
}

.pricing-main-card h3 {
    font-size: var(--size-50);
}

.pricing-main-card p {
    text-align: left;
}

.pricing-main-card span {
    font-size: var(--size-20);
    color: var(--font-color-light);
}

.pricing-small-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 263px) ;
    grid-template-rows: repeat(2 , 241px);
}

.pricing-small-card p{
    text-align: left;

}

.pricing-small-card img {
    width: 42px
}

.hire-us {
    background-color: var(--hire-us-bg);
    color: var(--white);
    display: flex;
    flex-direction: row;
    padding: var(--size-20);
}

.hire-us-text h2 {
    text-align: left;
    color: var(--white);
}

.hire-us-text p {
    color: var(--font-color-base);
}

.hire-us-text .line {
    text-align: left;
    background-color: var(--white);
    float: left;
    width: var(--size-150);
}

.hire-us-form-container {
    background-color: var(--white);
    border-radius: var(--size-10);
    padding: var(--size-10);
}

.hire-us-form-container h3 {
    color: var(--font-color-base);
}

.hire-us-form {
    background-color: var(--white);
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: var(--size-10);
}
.hire-us-form textarea {
    grid-column:  1 / span 2 ;
}

.btn-primary-form {
    margin: 0 auto;
}

